body {
    background-color: orange;
    /*background-image: url('chintu.png');*/
}
    canvas {
      display: block;
      margin: 0 auto;
      border: 2px solid black;
    }
h1{
     text-align: center;
    display: block;
    justify-text: center;
}
 .heart {
    width: 40px;
    height: 40px;
  }
.controls {
      text-align: center;
      margin-top: 10px;
    }
    .controls button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer; 
border-radius: 10px;
  background-color: white;
  padding: 5px;
 }
