body {
    background-image: url('backgroundTexture.png');
}
.page{background-image: url('backgroundTexture.png');
background-position: center;
background-size: cover;
position: fixed;
}
    canvas {
      display: block;
      margin: 0 auto;
      border: 2px solid black;
    }
h1{
     text-align: center;
    display: block;
    justify-text: center;
}
 .heart {
    width: 40px;
    height: 40px;
  }
.controls {
padding:20px;
      text-align: center;
      margin-top: 10px;
    }
    .controls button {
      margin: 20px;
      padding: 20px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer; 
      background-color: white;
box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
border:2px solid white;
 }
